:root{
    --card-scale: 400px;
    --card-title-sz: 48px;
    --card-content-sz: calc(100% - var(--card-title-sz));

    --card-st-bg: hsla(295, 54%, 12%, 89%);    
    --accent-clr: #EF6461;
    /* --border-shadow: 0 0 0 1px var(--accent-clr); */
    --border-shadow: 0 0 0 0px var(--accent-clr);
    --border-inshadow: inset 0 0 0 1px var(--accent-clr);

    --txt-shadow: 0px 0px 2px rgba(20, 20, 20, 0.4);
    --txt-shadow1: 1px 1px 2px rgba(20, 20, 20, 0.4);
    --txt-shadow2: 2px 2px 2px rgba(20, 20, 20, 0.4);
}


.deck{
    width: 100%;
    padding: 0;
    margin: 8px auto;
    flex-wrap: wrap;
}
.cardst{
    font-size: 24px;
    --card-scale: 0.5;
    height: calc(var(--card-scale) * 812px); 
    width: calc(var(--card-scale) * 375px);
    border: 0px; margin: 5px; padding: 0px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    /* border: 1px solid transparent; */
    color: white;
    text-shadow: var(--txt-shadow2);
    /* font-size: 1rem; */
    /* line-height: 1.5; */
    border-radius: 10px;
    position: relative;
}

.card-title{
    font-size: 24px;
    height: var(--card-title-sz); 
    /* box-shadow: var(--border-shadow); */
    width: 100%;
    margin: 0px; padding: 0px;
    border: 0px; 
    line-height: 2;
    position: relative;
    box-shadow: 0 2px 3px -2px #fff8;
}
/* .card-title::after{
    content: '';
    position: absolute;
    border-bottom: 3px solid transparent;
    box-shadow: 0 1px 3px -1px #fff8;
    top: 90%;
    left: 0px;
    right: 0px;
    bottom: 100%;
} */
.card-content{
    font-size: 16px;
    /* height: var(--card-content-sz);  */
    box-shadow: var(--border-shadow);
    width: 100%;
    margin: 0px; padding: 0px;
    border: 0px; 
    /* position: relative; */
}

.card-start{
    background: var(--card-st-bg);
    color: white;
    border-color: white;
}

.card-01{
    background: #123;
    background-image: linear-gradient(160deg, #123, #456, #789);
}
.card-02{
    background-image: linear-gradient(
        45deg, 
        #845ec2, 
        #d65db1, 
        #ff6f91, 
        #ff9671, 
        #ffc75f, 
        #f9f871);
}

.card-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8px;
    /* grid-template-rows: auto; */
    grid-auto-rows: minmax(1em, auto);
}

.btn02 {
    font-size: 12px;
    /* height: 54px; */
    width: 100px;
    padding: 4px 0px;
    margin: 0px auto;
    border-radius: 25px;
    /* position: absolute;
    bottom: 89px; */
    background: rgb(20, 24, 29);
    grid-column: 2;
    grid-row: 20;
}

.btn-tst{
    font-size: 12px;
    /* height: 54px; */
    width: 20px;
    padding: 4px 0px;
    margin: 0px auto;
    border-radius: 25px;
    /* position: absolute;
    bottom: 89px; */
    background: rgb(20, 24, 29);
}

.cardspace{
    height: 10px;
}
