@import url('https://fonts.googleapis.com/css?family=Alegreya|Ubuntu|Satisfy&display=swap');
:root{
    /* font-family: */    
    --ff: 'Ubuntu', sans-serif;
    --ff1: 'Alegreya', serif;
    --ffz: 'Satisfy', cursive;
    /* --ff: "Oxygen", sans-serif; */
    /* --ff: "Fira Sans", sans-serif; */

    /* font-size */
    --fs-1: 1rem;
    --fs-2: 2rem;
    --fs-3: 3rem;
    --fs-4: 4rem;
    --fs-5: 5rem;
    --fs-6: 6rem;
    --fs-p: 1rem;

    /* Color: */
    --primary-clr: #225560;
    --secondary-clr: #36213E;
    --secondary-clr-light: #554971;
    --accent-clr: #EF6461;
    --alert-clr: #f07;

    /* Space: */
    --spacer: 1rem;
    --spacer-md: calc(var(--spacer) * 2);
    --spacer-lg: calc(var(--spacer) * 2);

    /* Shadow: */
    --shadow: 0 0 1em rgba(0,0,0, .25);
    --shadow2: 2px 2px 2px rgba(20,20,20, .54);
    --br: 5px;

    --shelve-w: 100vw;
    --card-w90: 90vw;
    --card-w70: 70vw;
    --card-w40: 40vw;

    --sz-1: 1rem;
    --sz-2: 2rem;
    --sz-3: 3rem;
    --sz-4: 4rem;
    --sz-5: 5rem;
    --sz-6: 6rem;
}

/* .sz-1{ font-size: var(--fs-1); }
.sz-2{ font-size: var(--fs-2); }
.sz-3{ font-size: var(--fs-3); }
.sz-4{ font-size: var(--fs-4); }
.sz-5{ font-size: var(--fs-5); } */

/* :focus {
    outline: none;
}

:focus::after {
    
} */
