

.sz-1{ font-size: var(--fs-1); }
.sz-2{ font-size: var(--fs-2); }
.sz-3{ font-size: var(--fs-3); }
.sz-4{ font-size: var(--fs-4); }
.sz-5{ font-size: var(--fs-5); }


/* End of Page */
.btmspace{
    height: 89px;
    width: 100%;
    user-select: none;
}
.name-end{
    position: fixed;
    bottom: 5px;
    right: 12px;
    color: hsla(210, 89%, 29%, 5%);
    font-size: 24pt;
    font-family: 'Satisfy', cursive;
    user-select: none;
    transition: color .5s ease-out;
}
.name-end:hover{
    position: fixed;
    bottom: 5px;
    right: 12px;
    color: hsla(210, 89%, 29%, 50%);
    font-size: 24pt;
    font-family: 'Satisfy', cursive;
    user-select: none;
    transition: color 1s ease-out 2s;
}
.hidden{
    display: none;
}