:root {
    /* Color */
    /* --c0: hsla(36, 50%, 50%, 100%);
    --c1: hsla(72, 50%, 50%, 100%);
    --c2: hsla(108, 50%, 50%, 100%);
    --c3: hsla(144, 50%, 50%, 100%);
    --c4: hsla(180, 50%, 50%, 100%);
    --c5: hsla(216, 50%, 50%, 100%);
    --c6: hsla(252, 50%, 50%, 100%);
    --c7: hsla(288, 50%, 50%, 100%);
    --c8: hsla(324, 50%, 50%, 100%);
    --c9: hsla(360, 50%, 50%, 100%); */

    /* Glow */
    --glow-0: hsla(36, 50%, 50%, 40%);
    --glow-1: hsla(72, 50%, 50%, 40%);
    --glow-2: hsla(108, 50%, 50%, 40%);
    --glow-3: hsla(144, 50%, 50%, 40%);
    --glow-4: hsla(180, 50%, 50%, 40%);
    --glow-5: hsla(216, 50%, 50%, 40%);
    --glow-6: hsla(252, 50%, 50%, 40%);
    --glow-7: hsla(288, 50%, 50%, 40%);
    --glow-8: hsla(324, 50%, 50%, 40%);
    --glow-9: hsla(360, 50%, 50%, 40%);

    /* Background color */
    /* --bc0: hsla(36, 60%, 10%, 100%);
    --bc1: hsla(72, 60%, 10%, 100%);
    --bc2: hsla(108, 60%, 10%, 100%);
    --bc3: hsla(144, 60%, 10%, 100%);
    --bc4: hsla(180, 60%, 10%, 100%);
    --bc5: hsla(216, 60%, 10%, 100%);
    --bc6: hsla(252, 60%, 10%, 100%);
    --bc7: hsla(288, 60%, 10%, 100%);
    --bc8: hsla(324, 60%, 10%, 100%);
    --bc9: hsla(360, 60%, 10%, 100%); */

    --c-123: #123;
    --c-456: #456;
    --c-789: #789;

    --alert-clr: #f07;

    /* gradient images */
    --gi-00: linear-gradient(160deg, #123, #456, #789);
    --gi-01: linear-gradient(0deg, var(--c0), var(--c1));
    --gi-02: linear-gradient(0deg, var(--c1), var(--c2));


    /* by default. */
    /* --font-sz: 16px; */

    /* my defaults. */
    --bg-to-replace: #456;
    --border-to-replace: #789;
    --txteff-to-replace: 0 0 0 transparent;
    --boxeff-to-replace: 0 0 0 0 transparent;
    --txtclr-to-replace: var(--text-clr);
    --transform-to-replace: scale(1);
}






/* ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄ Navigation Bar ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄ */

.nav2 {
    display: flex;
    justify-content: center;

    width: 80vw;
    margin: 0 auto;
    padding: .5em .25em;

    border: outset 3px #7775;
    border-radius: 5px;
}
.nav2 ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0.25em;
    height: auto;

    align-items: center;

    width: 80vw;
    margin: 0 auto;

    border: outset 3px #7775;
    /* border-bottom: double 3px #7775; */

    border-radius: 5px;
    padding: .5em .25em;
}


.nav-btn{
    margin: 8px;
    padding: .375rem .75rem;
    
    display: inline-block;
    line-height: 1.5;

    color: var(--text-clr);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    
    border: 2px solid transparent;
    border-left: 0px solid;
    border-right: 0px solid;
    border-radius: 0px;

    box-shadow: 0px 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
    background: #2228;
    transform: scale(1);

    user-select: none;
    transition: border-color 100ms ease-in-out 120ms, 
                border-radius 150ms ease-in-out 100ms, 
                background-color 200ms ease-in-out 50ms,
                color 100ms ease-in,
                text-shadow 100ms ease-in, box-shadow 100ms ease-in,
                transform 500ms ease-in-out 0ms;
}
.nav-btn:hover,
.nav-btn:focus{
    text-decoration: none;

    background: var(--bg-to-replace);
    border-color: var(--border-to-replace);
    border-radius: 10px;
    text-shadow: var(--txteff-to-replace);
    box-shadow: var(--boxeff-to-replace);
    color: var(--txtclr-to-replace);
    
    transform: var(--transform-to-replace);

    transition: border-color 100ms ease-in-out, 
                border-radius 150ms ease-in-out 50ms, 
                background-color 200ms ease-in-out 100ms,
                color 200ms ease-in 200ms, 
                text-shadow 200ms ease-in 200ms, 
                box-shadow 300ms ease-in 200ms,
                transform 500ms ease-in-out 200ms;
}





/* ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄ Button Colors ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄ */

.clr-magenta {
    --bg-to-replace: var(--bc8);
    --border-to-replace: var(--c8);
    --txteff-to-replace: 1px 1px 2px var(--c8);
    --boxeff-to-replace: 0px 0px 3px 2px var(--glow-8),
                         inset 0px 0px 3px 2px var(--glow-8);
    --txtclr-to-replace: var(--c8);
}

.clr-3d {
    --bg-to-replace: var(--bc3);
    --border-to-replace: var(--c3);
    --txteff-to-replace: 0px 2px 2px #0009;
    --boxeff-to-replace: 0px 20px 5px -15px #0008;
    /* --txtclr-to-replace: var(--c3); */
    --transform-to-replace: scale(1.1);

    /* --bg-to-replace: var(--bc3);
    --border-to-replace: var(--c3); */
    /* box-shadow: 0px 0px 0px 0px #0008; */
    /* transition: border-color 100ms ease-in-out 200ms, 
                border-radius 150ms ease-in-out 150ms, 
                background-color 200ms ease-in-out 100ms,
                box-shadow 200ms ease-in-out, transform 200ms ease-in-out ; */
}
.clr-cards {
    --bg-to-replace: var(--bc6);
    --border-to-replace: var(--c6);
}
.clr-time {
    --bg-to-replace: var(--bc4);
    --border-to-replace: var(--c4);
}



/* .clr-3d:hover,
.clr-3d:focus {
    --bg-to-replace: var(--bc3);
    --border-to-replace: var(--c3);
    transform: scale(1.1);
    box-shadow: 0px 20px 5px -15px #0008;
    transition: border-color 100ms ease-in-out, 
                border-radius 150ms ease-in-out 50ms, 
                background-color 200ms ease-in-out 100ms,
                box-shadow 500ms ease-in-out 200ms, transform 500ms ease-in-out 200ms;
} */

.clr-3d:hover,
.clr-3d:focus {
    text-decoration: none;

    background: var(--bg-to-replace);
    border-color: var(--border-to-replace);
    border-radius: 10px;
    text-shadow: var(--txteff-to-replace);
    box-shadow: var(--boxeff-to-replace);
    color: var(--txtclr-to-replace);
    
    transform: var(--transform-to-replace);
    transition: border-color 100ms ease-in-out, 
                border-radius 150ms ease-in-out 50ms, 
                background-color 200ms ease-in-out 100ms,
                color 200ms ease-in-out 200ms, 
                text-shadow 500ms ease-in-out 200ms, 
                box-shadow 500ms ease-in-out 200ms,
                transform 500ms ease-in-out 200ms;
}

.clr-dev {
    --bg-to-replace: transparent;
    --border-to-replace: white;
    --bgi-to-replace: var(--gi-00);
}

.clr-none{
    opacity: 0;
}


/* .sublight {
    color: #aaa;
    text-shadow: 1px 1px 2px #ffff,
                 -1px 1px 2px #ffff;
    transition: text-shadow 400ms ease-in-out;
}
.sublight:hover {
    text-shadow: 5px 5px 3px #ffff,
                 -5px -5px 3px #ffff;
    transition: text-shadow 400ms ease-in-out;
} */
/* --txteff-to-replace */



.sublight {
    color: #aaa;
    text-shadow: 0px 0px 0px #fff0,
                 0px 0px 0px #fff0;
    transition: text-shadow 400ms ease-in-out 200ms;
    position: relative;
    top: 0;
    left: 0;
}
.sublight:hover {
    /* text-shadow: 5px 5px 3px #ffff,
                 -5px -5px 3px #ffff;
    transition: text-shadow 400ms ease-in-out 200ms; */
    animation-duration: 1200ms;
    animation-name: sublim20;
}

@keyframes sublim {
    from {text-shadow: 0px 0px 0px #fff0,0px 0px 0px #fff0;}
    25% {text-shadow: 5px 5px 3px #ffff, -5px -5px 3px #ffff;}
    50% {text-shadow: 10px 0px 3px #ffff, -10px 0px 3px #ffff;}
    75% {text-shadow: 5px -5px 3px #ffff, -5px 5px 3px #ffff;}
    from {text-shadow: 0px 0px 0px #fff0, 0px 0px 0px #fff0;}
}

@keyframes sublim2 {
    from {text-shadow: 0px 0px 0px #fff0,0px 0px 0px #fff0;}
    20% {text-shadow: 0px 5px 3px #ffff, 0px -5px 3px #ffff;}
    30% {text-shadow: -2.5px 4.3px 3px #ffff, 2.5px -4.3px 3px #ffff;}
    35% {text-shadow: -3.5px 3.5px 3px #ffff, 3.5px -3.5px 3px #ffff;}
    40% {text-shadow: -4.3px 2.5px 3px #ffff, 4.3px -2.5px 3px #ffff;}
    50% {text-shadow: -5px 0px 3px #ffff, 5px 0px 3px #ffff;}
    60% {text-shadow: -4.3px -2.5px 3px #ffff, 4.3px 2.5px 3px #ffff;}
    65% {text-shadow: -3.5px -3.5px 3px #ffff, 3.5px 3.5px 3px #ffff;}
    70% {text-shadow: -2.5px -4.3px 3px #ffff, 2.5px 4.3px 3px #ffff;}
    80% {text-shadow: 0px -5px 3px #ffff, 0px 5px 3px #ffff;}
    from {text-shadow: 0px 0px 0px #fff0, 0px 0px 0px #fff0;}
}

@keyframes sublim20 {
    from {text-shadow: 0px 0px 0px #fff0,0px 0px 0px #fff0;}
    20% {text-shadow: 0px 50px 3px #ffff, 0px -50px 3px #ffff;}
    30% {text-shadow: -25px 43px 3px #ffff, 25px -43px 3px #ffff;}
    35% {text-shadow: -35px 35px 3px #ffff, 35px -35px 3px #ffff;}
    40% {text-shadow: -43px 25px 3px #ffff, 43px -25px 3px #ffff;}
    50% {text-shadow: -50px 0px 3px #ffff, 50px 0px 3px #ffff;}
    60% {text-shadow: -43px -25px 3px #ffff, 43px 25px 3px #ffff;}
    65% {text-shadow: -35px -35px 3px #ffff, 35px 35px 3px #ffff;}
    70% {text-shadow: -25px -43px 3px #ffff, 25px 43px 3px #ffff;}
    80% {text-shadow: 0px -50px 3px #ffff, 0px 50px 3px #ffff;}
    from {text-shadow: 0px 0px 0px #fff0, 0px 0px 0px #fff0;}
}


.sublight::after {
    content: 'Important';
    position: absolute;
    top: 0;
    left: 0;
    color: #5af0;
    text-shadow: 0px 0px 0px #fff0,
                 0px 0px 0px #fff0;
}
.sublight:hover::after {
    color: #5af0;
    animation-duration: 1800ms;
    animation-name: sublim20c;
}

@keyframes sublim20c {
    from {text-shadow: 0px 0px 0px #5af0,0px 0px 0px #5af0;}
    20% {text-shadow: 0px 50px 3px #5aff, 0px -50px 3px #5aff;}
    30% {text-shadow: -25px 43px 3px #5aff, 25px -43px 3px #5aff;}
    35% {text-shadow: -35px 35px 3px #5aff, 35px -35px 3px #5aff;}
    40% {text-shadow: -43px 25px 3px #5aff, 43px -25px 3px #5aff;}
    50% {text-shadow: -50px 0px 3px #5aff, 50px 0px 3px #5aff;}
    60% {text-shadow: -43px -25px 3px #5aff, 43px 25px 3px #5aff;}
    65% {text-shadow: -35px -35px 3px #5aff, 35px 35px 3px #5aff;}
    70% {text-shadow: -25px -43px 3px #5aff, 25px 43px 3px #5aff;}
    80% {text-shadow: 0px -50px 3px #5aff, 0px 50px 3px #5aff;}
    from {text-shadow: 0px 0px 0px #5af0, 0px 0px 0px #5af0;}
}