@import url('https://fonts.googleapis.com/css?family=Alegreya|Ubuntu|Satisfy&display=swap');
:root {
    --pageBG: hsla(210, 89%, 21%, 89%);

    --shadow1: rgba(20, 20, 20, 0.4);

    /* For .day + .night classes: */
    --bodyBG-day: rgb(240, 240, 240);
    --text-off: rgb(20, 20, 20);

    --bodyBG-night: rgb(20, 20, 20);
    --text-on: rgb(240, 240, 240);
    /* 'on' as in 'lights-on' because it is dark.*/

    --bodyBG: var(--bodyBG-night);
    --text-clr: var(--text-on);
    /* 'text-clr' is the default. */

    --ny_light: rgb(240, 240, 240);
    --ny_dark: rgb(20, 20, 20);

    /* Color */
    --c0: hsla(36, 50%, 50%, 100%);
    --c1: hsla(72, 50%, 50%, 100%);
    --c2: hsla(108, 50%, 50%, 100%);
    --c3: hsla(144, 50%, 50%, 100%);
    --c4: hsla(180, 50%, 50%, 100%);
    --c5: hsla(216, 50%, 50%, 100%);
    --c6: hsla(252, 50%, 50%, 100%);
    --c7: hsla(288, 50%, 50%, 100%);
    --c8: hsla(324, 50%, 50%, 100%);
    --c9: hsla(360, 50%, 50%, 100%);

    /* Background color */
    --bc0: hsla(36, 60%, 10%, 100%);
    --bc1: hsla(72, 60%, 10%, 100%);
    --bc2: hsla(108, 60%, 10%, 100%);
    --bc3: hsla(144, 60%, 10%, 100%);
    --bc4: hsla(180, 60%, 10%, 100%);
    --bc5: hsla(216, 60%, 10%, 100%);
    --bc6: hsla(252, 60%, 10%, 100%);
    --bc7: hsla(288, 60%, 10%, 100%);
    --bc8: hsla(324, 60%, 10%, 100%);
    --bc9: hsla(360, 60%, 10%, 100%);

    /* by default. */
    --font-sz: 16px;
}

/* Body Stuff */

body {
    background-color: var(--bodyBG);
    color: var(--text-clr);
    font-family: 'Ubuntu', sans-serif;
    /* margin: 0px; */
    line-height: 1.5;
}
body.day {
    --bodyBG: var(--bodyBG-day);
    --text-clr: var(--text-off);
}
body.night {
    --bodyBG: var(--bodyBG-night);
    --text-clr: var(--text-on);
}

/* Tags */
a:link, a:visited {
    color: var(--text-clr);
    text-decoration: none;
}
a:hover {
    color: var(--text-clr);
    text-decoration: underline hsla(220, 70%, 50%, 100%);
}
code {
    background-color: #222D;
    padding: 0 0.15em;
}

/* Across all the library */
#title {
    color: #fff;
    /* font-family: 'Alegreya', serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Satisfy', cursive;
    font-size: 48px;
    text-align: center;
}
.subtitle{
    font-size: 1.5rem;
    color: #555;
    font-style: italic;
    text-align: center;
}



/* ?? */
.content {
    display: flex;
    justify-content: center; /* centers items in this container */
    flex-direction: column;
    
    width: 80vw;
    margin: 12px auto; /* centers this container */
    padding: .5em .25em;

    border: solid 3px #7775;
    border-radius: 5px;
}

.container-row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: calc(80vw - 50px);
    margin: 0px auto;
    padding: .5em .25em;
}

.section-title{
    font-size: 1.75rem;
}


/* General and of multiple use. */
.adjust-center{
    display: flex;
    justify-content: center;
}
.all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-line {
    border-top: 1px solid rgba(80, 80, 80, 0.5);
}

.btml {
    border-bottom: 1px solid rgba(80, 80, 80, 0.5);
}

/* > flex-direction: column */
.fcol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Style for declaring a region, titles, subtitles, etc. */

#title a:link {
    color: var(--text-clr);
    text-decoration: none;
}

#title a:visited {
    color: var(--text-clr);
    text-decoration: none;
}

#title a:hover,
#title a:focus {
    /* color: hsla(220, 50%, 50%, 100%); */
    color: var(--text-clr);
    text-decoration: underline hsla(220, 70%, 50%, 100%);
}

/* a:link.normal {
    color: var(--text-clr);
    text-decoration: none;
}
a:visited.normal {
    color: var(--text-clr);
    text-decoration: none;
}
a:hover.normal {
    color: var(--text-clr);
    text-decoration: underline hsla(220, 70%, 50%, 100%);
} */

.description {
    color: #aaa;
}

/* .tag-tr {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1rem;
    background: #eee;
    color: #222;
    font-weight: 600;
    box-shadow: inset 0 0 0 1px #222;
    padding: 0.01em 0.2em;
} */


.sample {
    max-width: 100%;
}


